body {
	background-color: #1F1F1F;
	color: #EDEDED;
	font-family: 'M PLUS 1', sans-serif;
}

header {
	text-align: center;
	padding: 10px;
}

header h1 {
	letter-spacing: 15px;
	text-transform: uppercase;
}

#watched-form {
	text-align: center;
	font-size: 20px;
}

.film-poster {
	width: 20%;
}

#get-recs {
	width: 25%;
	font-size: 20px;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 25px;
}

footer {
	text-align: center;
	padding: 10px;
}