body {
	background-color: #1F1F1F;
	color: #EDEDED;
	font-family: 'M PLUS 1', sans-serif;
}

header {
	text-align: center;
}

header h1 {
	letter-spacing: 2vw;
	font-size: 3vw;
	text-transform: uppercase;
	padding: 10px;

}

.film-result {
	width: 18%;
	padding: 5px;

}

#auto-list {
	width: 65%;
	text-align: center;
	margin: auto;
	cursor: pointer;
}


#watched-form {
	text-align: center;
	font-size: 1.5vw;
	letter-spacing: .3vw;
}



.film-poster {
	width: 20%;
}

#default-posters .film-poster{
	width: 10%;
}

#watched-posters .film-poster {
	width: 10%;
}

button#get-recs, button#reset {
	font-size: 1.5vw;
	letter-spacing: .6vw;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
	border: solid #EDEDED;
	background-color: #1F1F1F;
	color: #DF2700;
	cursor: pointer;

}

button#reset {
	width: 10vw;
}

button#get-recs {
	width: 30vw;
	display: none;
}

button#reset {
	text-align: center;
	margin: 10px auto;
	display: block;
}

#input-counter {
	color: #DF2700;
}

input[type=text] {
	font-size: 2vw;
	letter-spacing: .5vw;
	width: 30%;
	background-color: #1F1F1F;
	color: #EDEDED;
	font-family: 'M PLUS 1', sans-serif;
	padding: 10px;
	border-bottom: solid #EDEDED 1px;
	border-right: none;
	border-left: none;
	border-top: none;
	margin: 10px;
	text-align: center;
}

input[type=text]:focus{
	color: #DF2700;
	outline: none;
	border-bottom: solid #DF2700 1px;
}

input[type=text]:focus::placeholder {
	color: transparent;
}

footer {
	font-size: .8vw;
	letter-spacing: .1vw;
	text-align: center;
	padding: 10px;
}