body {
	background-color: #1F1F1F;
	color: #EDEDED;
	font-family: 'M PLUS 1', sans-serif;
}

header {
	text-align: center;
	padding: 10px;
}

header h1 {
	letter-spacing: 15px;
	text-transform: uppercase;
}

.film-result {
	width: 18%;
	padding: 5px;

}


#auto-list {
	width: 65%;
	text-align: center;
	margin: auto;
	cursor: pointer;

}


#watched-form {
	text-align: center;
	font-size: 20px;
}

.film-poster {
	width: 20%;
}


button#get-recs, button#reset {
	font-size: 20px;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
	border: solid #EDEDED;
	background-color: #1F1F1F;
	color: #DF2700;
	cursor: pointer;

}

button#reset {
	width: 150px;
}

button#get-recs {
	width: 250px;
	display: none;

}


button#reset {
	text-align: center;
	margin: 10px auto;
	display: block;

}

#input-counter {
	color: #DF2700;
}

input[type=text] {
	width: 20%;
	background-color: #1F1F1F;
	color: #EDEDED;
	font-family: 'M PLUS 1', sans-serif;
	padding: 10px;
	border-bottom: solid #EDEDED 1px;
	border-right: none;
	font-size: 18px;
	margin: 10px;
}

input[type=text]:focus{
	color: #DF2700;
	outline: none;
	border-bottom: solid #DF2700 1px;
}

footer {
	text-align: center;
	padding: 10px;
}